*{
    padding:0;
    margin:0;
    list-style: none;
}
body{
    width: 100%;
}
.menu{
        width:100%;
        text-align: center;
}
.menulist{
    display:flex;
}
.first{
    width:100%;
}
.menulist li a{
    display: block;
    padding:20px 0;
    text-decoration: none;
}
.first a{
    background-color: #2d2273;
    color:#fff;
}
.last{
    display: none;
}
.wrap{
    width: 100%;
    height: 100%;
    margin:auto;
    background-color:#ebebeb;
    text-align: center;    
}
.banner{
    width:100%;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}
.banner ul{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.banner ul li{
    width:20%;
    margin:10px 0;
}
.banner ul li a{
    display: block;
    padding:10px;
    font-weight: bold;
    text-decoration: none;
    color:#000;
}
.container{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: initial;
    align-items: center;
}
.item{
    width:100%;
    /* height:50vh; */
    margin:30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.item img{
    width:400px;
    height:60vh;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 10px;
}
.description{
    background-color: rgba(255,255,255,.8);
    width: 400px;
    position: absolute;
    bottom:0;
    margin-bottom: 4px;
    
    border-radius: 10px;
    opacity: 1;
    /* display: none; */
}
.description h2{
    color:#4e78f5;
    font-weight: bold;
    padding: 10px;
}
.innerTxt{
    display:flex;
    justify-content: space-around;
}
.weekday :first-child{
    color:#444444;
}
.holiday :first-child{
    color:#444444;
}

@media screen and (min-width:1024px) {
    .menulist :first-child{
        margin-right: auto;
    }
    .first{
        width:150px;
    }
    .last{
        display: initial;
    }
    .last a{
        color:#444444;
        font-weight: bold;
    }
    .banner ul{
        display:flex;
        flex-direction: row;
        margin-left:85px;
    }
    .banner ul li{
        width:10%;
        margin:0 10px;
        border:1px solid #aaa;
    }
    .container{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }
    .item{
        width:30%;
        margin:15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .item img{
        width: 300px;
        height:40vh;
        object-fit: cover;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    .description{
        background-color: rgba(255,255,255,.8);
        width: 300px;
        position: absolute;
        bottom:0;
        margin-bottom: 4px;
        border-radius: 10px;
        opacity: 0;
        transition: .5s;
    }
    .item:hover .description{
        opacity: 1;
    }
    
}